{% extends 'base.html' %}

{% block title %}
Create Company - HireHub
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow">

            <div class="card-body">

                <h2>
                    Create Company
                </h2>

                <form
                    method="POST"
                    enctype="multipart/form-data">

                    {% csrf_token %}

                    {{ form.as_p }}

                    <button
                        type="submit"
                        class="btn btn-primary">
                        Create Company
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}