{% extends 'base.html' %}

{% block title %}
Delete Job - HireHub
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-body text-center">

        <h3>
            Delete Job
        </h3>

        <p>
            Are you sure you want to delete
            <strong>{{ object.title }}</strong>?
        </p>

        <form method="POST">

            {% csrf_token %}

            <button
                type="submit"
                class="btn btn-danger">
                Yes, Delete
            </button>

            <a
                href="{% url 'job_detail' object.pk %}"
                class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}